/**
 * CSS for Footprints spec and primer
 */

/* Make shape labels and shape refs be the same color, but with shape labels
   bold: */
span.hljs-class { color: #4078f2; font-weight: bold; }
span.hljs-name { color: #4078f2; }

/* Links to example code for use during spec dev */
.excode::before { content: "[example code]"; font-size: small; vertical-align: top; background-color: buttonface }
a[href].cross:visited { border-bottom: none !important; }

/* Need !important to override <style id="respec-mainstyle"/>'s override of
   respec's inclusion of Atom One Light */
.hljs { display: inline-block !important; }
code.shexc { background-color: #f4f4ff !important; }
code.turtle { background-color: #f4fff4 !important; }
code.footprint { background-color: #fff4f4 !important; }
.done { text-decoration: line-through; }

span.done {
    padding: .1em .5em .15em;
    border-right-style: solid;
    border-color: #5252E0;
    background: #E9E9FB;
    counter-increment: issue;
    overflow: auto;
    margin: 1em auto;
    border-width: 0; /* .1em */
    border-left-style: solid;
    page-break-inside: avoid;
}
